AL-Game/data/static_data/locations/dominion/dominion_locations.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:jxb="http://java.sun.com/xml/ns/jaxb" jxb:version="2.1">
	<xs:include schemaLocation="global_types.xsd"/>
	<xs:element name="dominion_locations">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="dominion_location" type="Dominion" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="Dominion">
		<xs:attribute name="id" type="xs:int" use="required"/>
		<xs:attribute name="world" type="xs:int" use="required"/>
		<xs:attribute name="name" type="xs:string"/>
	</xs:complexType>
</xs:schema>