Source/config/schedule/agent_schedule.xsd

<?xml version="1.0" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="agent" type="agent"/>
	<xs:element name="agent_schedule" type="agentSchedule"/>
	<xs:complexType name="agentSchedule">
		<xs:sequence>
			<xs:element ref="agent" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="agent">
		<xs:sequence>
			<xs:element name="fightTime" type="xs:string" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:int" use="required"/>
	</xs:complexType>
</xs:schema>