Source/config/schedule/beritra_schedule.xsd

<?xml version="1.0" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="beritra" type="beritra"/>
	<xs:element name="beritra_schedule" type="beritraSchedule"/>
	<xs:complexType name="beritraSchedule">
		<xs:sequence>
			<xs:element ref="beritra" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="beritra">
		<xs:sequence>
			<xs:element name="invasionTime" type="xs:string" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:int" use="required"/>
	</xs:complexType>
</xs:schema>