Source/config/schedule/moltenus_schedule.xsd

<?xml version="1.0" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="moltenus" type="moltenus"/>
	<xs:element name="moltenus_schedule" type="moltenusSchedule"/>
	<xs:complexType name="moltenusSchedule">
		<xs:sequence>
			<xs:element ref="moltenus" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="moltenus">
		<xs:sequence>
			<xs:element name="fightTime" type="xs:string" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:int" use="required"/>
	</xs:complexType>
</xs:schema>