Datapack/static_data/spawns/spawns.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="../global_types.xsd"/>
	<xs:include schemaLocation="../import.xsd"/>
	<xs:element name="spawns" type="SpawnsData2"/>
	<xs:complexType name="SpawnsData2">
		<xs:sequence>
			<xs:element ref="import" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="spawn_map" type="SpawnMap" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SpawnMap">
		<xs:sequence>
			<xs:element name="spawn" type="Spawn" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="siege_spawn" type="SiegeSpawn" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="base_spawn" type="BaseSpawn" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="outpost_spawn" type="OutpostSpawn" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="rift_spawn" type="RiftSpawn" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="vortex_spawn" type="VortexSpawn" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="beritra_spawn" type="BeritraSpawn" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="agent_spawn" type="AgentSpawn" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="svs_spawn" type="SvsSpawn" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="rvr_spawn" type="RvrSpawn" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="moltenus_spawn" type="MoltenusSpawn" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="dynamic_rift_spawn" type="DynamicRiftSpawn" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="zorshiv_dredgion_spawn" type="ZorshivDredgionSpawn" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="anoha_spawn" type="AnohaSpawn" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="iu_spawn" type="IuSpawn" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="conquest_spawn" type="ConquestSpawn" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="idian_depths_spawn" type="IdianDepthsSpawn" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="instance_rift_spawn" type="InstanceRiftSpawn" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="nightmare_circus_spawn" type="NightmareCircusSpawn" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="landing_spawn" type="LandingSpawn" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="landing_special_spawn" type="LandingSpecialSpawn" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="legion_dominion_spawn" type="LegionDominionSpawn" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="tower_of_eternity_spawn" type="TowerOfEternitySpawn" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="map_id" type="xs:int"/>
	</xs:complexType>
	<!-- Vortex 3.9 -->
	<xs:complexType name="VortexSpawn">
		<xs:sequence>
			<xs:element name="state_type" type="VortexStateTemplate" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:int"/>
	</xs:complexType>
	<xs:complexType name="VortexStateTemplate">
		<xs:sequence>
			<xs:element name="spawn" type="Spawn" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="state" type="StateType"/>
	</xs:complexType>
	<xs:simpleType name="StateType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="INVASION"/>
			<xs:enumeration value="PEACE"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Live Party Concert Hall 4.3 -->
	<xs:complexType name="IuSpawn">
		<xs:sequence>
			<xs:element name="iu_type" type="IuStateTemplate" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:int"/>
	</xs:complexType>
	<xs:complexType name="IuStateTemplate">
		<xs:sequence>
			<xs:element name="spawn" type="Spawn" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="iustate" type="IuType"/>
	</xs:complexType>
	<xs:simpleType name="IuType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="OPEN"/>
			<xs:enumeration value="CLOSED"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Nightmare Circus 4.3 -->
	<xs:complexType name="NightmareCircusSpawn">
		<xs:sequence>
			<xs:element name="nightmare_circus_type" type="NightmareCircusStateTemplate" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:int"/>
	</xs:complexType>
	<xs:complexType name="NightmareCircusStateTemplate">
		<xs:sequence>
			<xs:element name="spawn" type="Spawn" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="nstate" type="NightmareCircusType"/>
	</xs:complexType>
	<xs:simpleType name="NightmareCircusType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="OPEN"/>
			<xs:enumeration value="CLOSED"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Beritra 4.7 -->
	<xs:complexType name="BeritraSpawn">
		<xs:sequence>
			<xs:element name="beritra_type" type="BeritraStateTemplate" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:int"/>
	</xs:complexType>
	<xs:complexType name="BeritraStateTemplate">
		<xs:sequence>
			<xs:element name="spawn" type="Spawn" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="bstate" type="BeritraType"/>
	</xs:complexType>
	<xs:simpleType name="BeritraType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="INVASION"/>
			<xs:enumeration value="PEACE"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Agent Fight 4.7 -->
	<xs:complexType name="AgentSpawn">
		<xs:sequence>
			<xs:element name="agent_type" type="AgentStateTemplate" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:int"/>
	</xs:complexType>
	<xs:complexType name="AgentStateTemplate">
		<xs:sequence>
			<xs:element name="spawn" type="Spawn" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="astate" type="AgentType"/>
	</xs:complexType>
	<xs:simpleType name="AgentType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FIGHT"/>
			<xs:enumeration value="PEACE"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Panesterra 4.7 -->
	<xs:complexType name="SvsSpawn">
		<xs:sequence>
			<xs:element name="svs_type" type="SvsStateTemplate" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:int"/>
	</xs:complexType>
	<xs:complexType name="SvsStateTemplate">
		<xs:sequence>
			<xs:element name="spawn" type="Spawn" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="pstate" type="SvsType"/>
	</xs:complexType>
	<xs:simpleType name="SvsType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SVS"/>
			<xs:enumeration value="PEACE"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Dynamic Rift -->
	<xs:complexType name="DynamicRiftSpawn">
		<xs:sequence>
			<xs:element name="dynamic_rift_type" type="DynamicRiftStateTemplate" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:int"/>
	</xs:complexType>
	<xs:complexType name="DynamicRiftStateTemplate">
		<xs:sequence>
			<xs:element name="spawn" type="Spawn" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="dstate" type="DynamicRiftType"/>
	</xs:complexType>
	<xs:simpleType name="DynamicRiftType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="OPEN"/>
			<xs:enumeration value="CLOSED"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Zorshiv Dredgion -->
	<xs:complexType name="ZorshivDredgionSpawn">
		<xs:sequence>
			<xs:element name="zorshiv_dredgion_type" type="ZorshivDredgionStateTemplate" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:int"/>
	</xs:complexType>
	<xs:complexType name="ZorshivDredgionStateTemplate">
		<xs:sequence>
			<xs:element name="spawn" type="Spawn" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="zstate" type="ZorshivDredgionType"/>
	</xs:complexType>
	<xs:simpleType name="ZorshivDredgionType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="LANDING"/>
			<xs:enumeration value="PEACE"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Moltenus -->
	<xs:complexType name="MoltenusSpawn">
		<xs:sequence>
			<xs:element name="moltenus_type" type="MoltenusStateTemplate" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:int"/>
	</xs:complexType>
	<xs:complexType name="MoltenusStateTemplate">
		<xs:sequence>
			<xs:element name="spawn" type="Spawn" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="mstate" type="MoltenusType"/>
	</xs:complexType>
	<xs:simpleType name="MoltenusType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FIGHT"/>
			<xs:enumeration value="PEACE"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Berserk Anoha 4.7 -->
	<xs:complexType name="AnohaSpawn">
		<xs:sequence>
			<xs:element name="anoha_type" type="AnohaStateTemplate" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:int"/>
	</xs:complexType>
	<xs:complexType name="AnohaStateTemplate">
		<xs:sequence>
			<xs:element name="spawn" type="Spawn" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="cstate" type="AnohaType"/>
	</xs:complexType>
	<xs:simpleType name="AnohaType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FIGHT"/>
			<xs:enumeration value="PEACE"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Event UnderPath 5.6 -->
	<xs:complexType name="UnderPathSpawn">
		<xs:sequence>
			<xs:element name="event_underpath_type" type="EventUnderPathStateTemplate" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:int"/>
	</xs:complexType>
	<xs:complexType name="EventUnderPathStateTemplate">
		<xs:sequence>
			<xs:element name="spawn" type="Spawn" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="eupstate" type="underpathType"/>
	</xs:complexType>
	<xs:simpleType name="underpathType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="OPEN"/>
			<xs:enumeration value="CLOSED"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Conquest/Offering 4.8 -->
	<xs:complexType name="ConquestSpawn">
		<xs:sequence>
			<xs:element name="conquest_type" type="ConquestStateTemplate" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:int"/>
	</xs:complexType>
	<xs:complexType name="ConquestStateTemplate">
		<xs:sequence>
			<xs:element name="spawn" type="Spawn" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="ostate" type="ConquestType"/>
	</xs:complexType>
	<xs:simpleType name="ConquestType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CONQUEST"/>
			<xs:enumeration value="PEACE"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Idian Depths 4.8 -->
	<xs:complexType name="IdianDepthsSpawn">
		<xs:sequence>
			<xs:element name="idian_depths_type" type="IdianDepthsStateTemplate" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:int"/>
	</xs:complexType>
	<xs:complexType name="IdianDepthsStateTemplate">
		<xs:sequence>
			<xs:element name="spawn" type="Spawn" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="istate" type="IdianDepthsType"/>
	</xs:complexType>
	<xs:simpleType name="IdianDepthsType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="OPEN"/>
			<xs:enumeration value="CLOSED"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Instance Rift 4.9 -->
	<xs:complexType name="InstanceRiftSpawn">
		<xs:sequence>
			<xs:element name="instance_rift_type" type="InstanceRiftStateTemplate" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:int"/>
	</xs:complexType>
	<xs:complexType name="InstanceRiftStateTemplate">
		<xs:sequence>
			<xs:element name="spawn" type="Spawn" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="estate" type="InstanceRiftType"/>
	</xs:complexType>
	<xs:simpleType name="InstanceRiftType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="OPEN"/>
			<xs:enumeration value="CLOSED"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Abyss Landing 4.9.1 -->
    <xs:complexType name="LandingSpawn">
        <xs:sequence>
            <xs:element name="landing_level" type="LandingStateTemplate" minOccurs="0" maxOccurs="unbounded"/>
       </xs:sequence>
        <xs:attribute name="id" type="xs:int"/>
        <xs:attribute name="name_id" type="xs:int"/>
    </xs:complexType>
    <xs:complexType name="LandingStateTemplate">
        <xs:sequence>
            <xs:element name="spawn" type="Spawn" minOccurs="0" maxOccurs="unbounded"/>
       </xs:sequence>
        <xs:attribute name="level" type="LandingLevel"/>
    </xs:complexType>
    <xs:simpleType name="LandingLevel">
        <xs:restriction base="xs:string">
            <xs:enumeration value="LVL1"/>
            <xs:enumeration value="LVL2"/>
            <xs:enumeration value="LVL3"/>
            <xs:enumeration value="LVL4"/>
            <xs:enumeration value="LVL5"/>
            <xs:enumeration value="LVL6"/>
            <xs:enumeration value="LVL7"/>
            <xs:enumeration value="LVL8"/>
            <xs:enumeration value="NONE"/>
        </xs:restriction>
    </xs:simpleType>
	<!-- Abyss Landing [Monument] 4.9.1 -->
	<xs:complexType name="LandingSpecialSpawn">
		<xs:sequence>
			<xs:element name="landing_special_type" type="LandingSpStateTemplate" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:int"/>
	</xs:complexType>
	<xs:complexType name="LandingSpStateTemplate">
		<xs:sequence>
			<xs:element name="spawn" type="Spawn" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="fstate" type="LandingType"/>
	</xs:complexType>
	<xs:simpleType name="LandingType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ACTIVE"/>
			<xs:enumeration value="NO_ACTIVE"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Rvr 4.9 -->
	<xs:complexType name="RvrSpawn">
		<xs:sequence>
			<xs:element name="rvr_type" type="RvrStateTemplate" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:int"/>
	</xs:complexType>
	<xs:complexType name="RvrStateTemplate">
		<xs:sequence>
			<xs:element name="spawn" type="Spawn" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="rstate" type="RvrType"/>
	</xs:complexType>
	<xs:simpleType name="RvrType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="RVR"/>
			<xs:enumeration value="PEACE"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Tower Of Eternity 5.0 -->
	<xs:complexType name="TowerOfEternitySpawn">
		<xs:sequence>
			<xs:element name="tower_of_eternity_type" type="TowerOfEternityStateTemplate" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:int"/>
	</xs:complexType>
	<xs:complexType name="TowerOfEternityStateTemplate">
		<xs:sequence>
			<xs:element name="spawn" type="Spawn" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="tstate" type="TowerOfEternityType"/>
	</xs:complexType>
	<xs:simpleType name="TowerOfEternityType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="OPEN"/>
			<xs:enumeration value="CLOSED"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Rift -->
	<xs:complexType name="RiftSpawn">
		<xs:sequence>
			<xs:element name="spawn" type="Spawn" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:int"/>
		<xs:attribute name="world" type="xs:int"/>
	</xs:complexType>
	<!-- Base 4.3 -->
	<xs:complexType name="BaseSpawn">
		<xs:sequence>
			<xs:element name="simple_race" type="SimpleRaceTemplate" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:int"/>
		<xs:attribute name="world" type="xs:int"/>
	</xs:complexType>
	<!-- Outpost 5.8 -->
	<xs:complexType name="OutpostSpawn">
		<xs:sequence>
			<xs:element name="simple_race" type="SimpleRaceTemplate" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:int"/>
		<xs:attribute name="world" type="xs:int"/>
	</xs:complexType>
	<!-- Siege -->
	<xs:complexType name="SiegeSpawn">
		<xs:sequence>
			<xs:element name="siege_race" type="SiegeRaceTemplate" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="siege_id" type="xs:int"/>
	</xs:complexType>
	<xs:complexType name="SiegeRaceTemplate">
		<xs:sequence>
			<xs:element name="siege_mod" type="SiegeModTemplate" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="race" type="SiegeRaceType"/>
	</xs:complexType>
	<xs:complexType name="SiegeModTemplate">
		<xs:sequence>
			<xs:element name="spawn" type="Spawn" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="mod" type="SiegeModType"/>
	</xs:complexType>
	<!-- Legion Dominion 4.8 -->
	<xs:complexType name="LegionDominionSpawn">
		<xs:sequence>
			<xs:element name="legion_dominion_race" type="LegionDominionRaceTemplate" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="legion_id" type="xs:int"/>
	</xs:complexType>
	<xs:complexType name="LegionDominionRaceTemplate">
		<xs:sequence>
			<xs:element name="legion_mod" type="LegionDominionModTemplate" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="race" type="LegionDominionRaceType"/>
	</xs:complexType>
	<xs:complexType name="LegionDominionModTemplate">
		<xs:sequence>
			<xs:element name="spawn" type="Spawn" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="mod" type="LegionDominionModType"/>
	</xs:complexType>
	<xs:complexType name="SimpleRaceTemplate">
		<xs:sequence>
			<xs:element name="spawn" type="Spawn" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="race" type="Race"/>
	</xs:complexType>
	<xs:complexType name="Spawn">
		<xs:sequence>
			<xs:element name="temporary_spawn" type="TemporarySpawn" minOccurs="0" maxOccurs="1"/>
			<xs:element name="spot" type="SpawnSpotTemplate" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="npc_id" type="xs:int"/>
		<xs:attribute name="pool" type="xs:int" use="optional"/>
		<xs:attribute name="respawn_time" type="xs:int"/>
		<xs:attribute name="handler" type="SpawnHandlerType"/>
		<xs:attribute name="custom" type="xs:boolean" use="optional" default="false"/>
		<xs:attribute name="difficult_id" type="xs:byte"/>
	</xs:complexType>
	<xs:complexType name="SpawnSpotTemplate">
		<xs:sequence>
			<xs:element name="temporary_spawn" type="TemporarySpawn" minOccurs="0" maxOccurs="1"/>
			<xs:element name="model" type="SpawnModel" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="x" type="xs:float"/>
		<xs:attribute name="y" type="xs:float"/>
		<xs:attribute name="z" type="xs:float"/>
		<xs:attribute name="h" type="HeadingType" use="optional" default="0"/>
		<xs:attribute name="entity_id" type="xs:int" use="optional" default="0"/>
		<xs:attribute name="random_walk" type="xs:int" use="optional" default="0"/>
		<xs:attribute name="walker_id" type="xs:string"/>
		<xs:attribute name="walker_index" type="xs:int" use="optional" default="0"/>
		<xs:attribute name="fly" type="xs:int" use="optional" default="0"/>
		<xs:attribute name="anchor" type="xs:string"/>
		<xs:attribute name="state" type="xs:int" use="optional" default="0"/>
		<xs:attribute name="astate" type="xs:int" use="optional" default="0"/>
		<xs:attribute name="bstate" type="xs:int" use="optional" default="0"/>
		<xs:attribute name="cstate" type="xs:int" use="optional" default="0"/>
		<xs:attribute name="dstate" type="xs:int" use="optional" default="0"/>
		<xs:attribute name="estate" type="xs:int" use="optional" default="0"/>
		<xs:attribute name="fstate" type="xs:int" use="optional" default="0"/>
		<xs:attribute name="istate" type="xs:int" use="optional" default="0"/>
		<xs:attribute name="mstate" type="xs:int" use="optional" default="0"/>
		<xs:attribute name="nstate" type="xs:int" use="optional" default="0"/>
		<xs:attribute name="ostate" type="xs:int" use="optional" default="0"/>
		<xs:attribute name="pstate" type="xs:int" use="optional" default="0"/>
		<xs:attribute name="rstate" type="xs:int" use="optional" default="0"/>
		<xs:attribute name="tstate" type="xs:int" use="optional" default="0"/>
		<xs:attribute name="zstate" type="xs:int" use="optional" default="0"/>
		<xs:attribute name="iustate" type="xs:int" use="optional" default="0"/>
		<xs:attribute name="opstate" type="xs:int" use="optional" default="0"/>
	</xs:complexType>
	<xs:complexType name="SpawnModel">
		<xs:attribute name="tribe" type="TribeClass"/>
		<xs:attribute name="ai" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="TemporarySpawn">
		<xs:attribute name="spawn_time" type="xs:string"/>
		<xs:attribute name="despawn_time" type="xs:string"/>
	</xs:complexType>
	<xs:simpleType name="SiegeModType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="PEACE"/>
			<xs:enumeration value="SIEGE"/>
			<xs:enumeration value="LANDING"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LegionDominionModType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="PEACE"/>
			<xs:enumeration value="DOMINION"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="HeadingType">
		<xs:restriction base="xs:byte">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="120"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SiegeRaceType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ELYOS"/>
			<xs:enumeration value="ASMODIANS"/>
			<xs:enumeration value="BALAUR"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LegionDominionRaceType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ELYOS"/>
			<xs:enumeration value="ASMODIANS"/>
			<xs:enumeration value="BALAUR"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SpawnHandlerType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SLAYER"/>
			<xs:enumeration value="CHIEF"/>
			<xs:enumeration value="RIFT"/>
			<xs:enumeration value="VOLATILE_RIFT"/>
			<xs:enumeration value="STATIC"/>
			<xs:enumeration value="FLAG"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>