AL-Game/data/static_data/locations/instance_rift/instance_rift.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:jxb="http://java.sun.com/xml/ns/jaxb" jxb:version="2.1">
	<xs:include schemaLocation="global_types.xsd"/>
	<xs:element name="instance_rift">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="instance_location" type="Instance" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="Instance">
		<xs:attribute name="id" type="xs:int" use="required"/>
	</xs:complexType>
</xs:schema>