Source/data/static_data/pets/pet_merchand.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0">
	<xs:element name="merchands">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="merchand" type="merch" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="merch">
		<xs:attribute name="id" type="xs:int"/>
		<xs:attribute name="rate_price" type="xs:int"/>
	</xs:complexType>
</xs:schema>
