AL-Game/config/schedule/dredgion_schedule.xsd

<?xml version="1.0" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="dredgion" type="dredgion"/>
	<xs:element name="dredgion_schedule" type="dredgionSchedule"/>
	<xs:complexType name="dredgionSchedule">
		<xs:sequence>
			<xs:element ref="dredgion" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="dredgion">
		<xs:sequence>
			<xs:element name="zorshivTime" type="xs:string" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:int" use="required"/>
	</xs:complexType>
</xs:schema>