config/schedule/circus_schedule.xsd

<?xml version="1.0" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="circus" type="circus"/>
	<xs:element name="circus_schedule" type="circusSchedule"/>
	<xs:complexType name="circusSchedule">
		<xs:sequence>
			<xs:element ref="circus" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="circus">
		<xs:sequence>
			<xs:element name="circusTime" type="xs:string" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:int" use="required"/>
	</xs:complexType>
</xs:schema>