Source/data/static_data/items/item_groups.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="item_groups">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="craft_materials" type="CraftItemGroup" minOccurs="0"/>
                <xs:element name="craft_shop" type="CraftItemGroup" minOccurs="0"/>
                <xs:element name="craft_bundles" type="CraftRecipeGroup" minOccurs="0"/>
                <xs:element name="craft_recipes" type="CraftRecipeGroup" minOccurs="0"/>
                <xs:element name="manastones_common" type="ManastoneGroup" minOccurs="0"/>
                <xs:element name="manastones_rare" type="ManastoneGroup" minOccurs="0"/>
                <xs:element name="manastones_legend" type="ManastoneGroup" minOccurs="0"/>
                <xs:element name="manastones_epic" type="ManastoneGroup" minOccurs="0"/>
                <xs:element name="medals" type="MedalGroup" minOccurs="0"/>
                <xs:element name="food_common" type="FoodGroup" minOccurs="0"/>
                <xs:element name="food_rare" type="FoodGroup" minOccurs="0"/>
                <xs:element name="food_legendary" type="FoodGroup" minOccurs="0"/>
                <xs:element name="medicine_common" type="MedicineGroup" minOccurs="0"/>
                <xs:element name="medicine_rare" type="MedicineGroup" minOccurs="0"/>
                <xs:element name="medicine_legendary" type="MedicineGroup" minOccurs="0"/>
                <xs:element name="ores_rare" type="OreGroup" minOccurs="0"/>
                <xs:element name="ores_unique" type="OreGroup" minOccurs="0"/>
                <xs:element name="ores_legendary" type="OreGroup" minOccurs="0"/>
                <xs:element name="ores_epic" type="OreGroup" minOccurs="0"/>
                <xs:element name="gather_common" type="GatherGroup" minOccurs="0"/>
                <xs:element name="gather_rare" type="GatherGroup" minOccurs="0"/>
                <xs:element name="gather_unique" type="GatherGroup" minOccurs="0"/>
                <xs:element name="gather_legendary" type="GatherGroup" minOccurs="0"/>
                <xs:element name="gather_epic" type="GatherGroup" minOccurs="0"/>
                <xs:element name="enchants" type="EnchantGroup" minOccurs="0"/>
                <xs:element name="boss" type="BossGroup" minOccurs="0"/>
                <xs:element name="feed_fluid" type="FeedFluidGroup" minOccurs="0"/>
                <xs:element name="feed_armor" type="FeedArmorGroup" minOccurs="0"/>
                <xs:element name="feed_thorn" type="FeedThornGroup" minOccurs="0"/>
                <xs:element name="feed_bone" type="FeedBoneGroup" minOccurs="0"/>
                <xs:element name="feed_balaur_material" type="FeedBalaurGroup" minOccurs="0"/>
                <xs:element name="feed_soul" type="FeedSoulGroup" minOccurs="0"/>
                <xs:element name="feed_exclude" type="FeedExcludeGroup" minOccurs="0"/>
                <xs:element name="stinking_junk" type="StinkingJunkGroup" minOccurs="0"/>
                <xs:element name="feed_healthy_all" type="HealthyFoodAllGroup" minOccurs="0"/>
                <xs:element name="feed_healthy_spicy" type="HealthyFoodSpicyGroup" minOccurs="0"/>
                <xs:element name="feed_powder_biscuit" type="AetherPowderBiscuitGroup" minOccurs="0"/>
                <xs:element name="feed_crystal_biscuit" type="AetherCrystalBiscuitGroup" minOccurs="0"/>
                <xs:element name="feed_gem_biscuit" type="AetherGemBiscuitGroup" minOccurs="0"/>
                <xs:element name="poppy_snack" type="PoppySnackGroup" minOccurs="0"/>
                <xs:element name="tasty_poppy_snack" type="PoppySnackTastyGroup" minOccurs="0"/>
                <xs:element name="nutritious_poppy_snack" type="PoppySnackNutritiousGroup" minOccurs="0"/>
                <xs:element name="infernal_diabol_ap" type="InfernalDiabolApGroup" minOccurs="0"/>
                <xs:element name="innocent_merek_xp" type="InnocentMerekXpGroup" minOccurs="0"/>
                <xs:element name="shugo_coin" type="ShugoCoinGroup" minOccurs="0"/>
                <xs:element name="new_year_pet_food" type="NewYearPetFoodGroup" minOccurs="0"/>
                <xs:element name="high_craft_step" type="HighCraftStepGroup" minOccurs="0"/>
			</xs:sequence>
	  	</xs:complexType>
	</xs:element>
	<xs:complexType name="BonusItemGroup" abstract="true">
        <xs:attribute name="bonusType" type="BonusType" use="required"/>
        <xs:attribute default="0" name="chance" type="xs:float" use="optional"/>
	</xs:complexType>
	<xs:complexType name="FeedItemGroup" abstract="true">
	    <xs:sequence>
		    <xs:element name="item" type="ItemRaceEntry" minOccurs="0" maxOccurs="unbounded"/>
	    </xs:sequence>
		<xs:attribute name="group" type="ItemGroupIndex"/>
	</xs:complexType>
	<xs:complexType name="CraftItemGroup">
	        <xs:complexContent mixed="false">
		    <xs:extension base="BonusItemGroup">
                <xs:sequence>
                    <xs:element name="item" type="CraftItem" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CraftRecipeGroup">
            <xs:complexContent mixed="false">
		    <xs:extension base="BonusItemGroup">
			    <xs:sequence>
                    <xs:element name="item" type="CraftRecipe" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CraftReward" abstract="true">
	    <xs:attribute name="id" type="xs:int" use="required"/>
		<xs:attribute name="skill" type="xs:int"/>
		<xs:attribute name="race" type="ItemRace" use="optional"/>
	</xs:complexType>
	<xs:complexType name="CraftItem">
        <xs:complexContent mixed="false">
		    <xs:extension base="CraftReward">
			    <xs:attribute name="minLevel" type="xs:int" use="required"/>
				<xs:attribute name="maxLevel" type="xs:int" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CraftRecipe">
        <xs:complexContent mixed="false">
		    <xs:extension base="CraftReward">
			    <xs:attribute name="level" type="xs:int" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ManastoneGroup">
        <xs:complexContent mixed="false">
		    <xs:extension base="BonusItemGroup">
			    <xs:sequence>
				    <xs:element name="item" type="ItemRaceEntry" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MedalGroup">
        <xs:complexContent mixed="false">
		    <xs:extension base="BonusItemGroup">
			    <xs:sequence>
                    <xs:element name="item" type="MedalReward" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MedicineGroup">
        <xs:complexContent mixed="false">
		    <xs:extension base="BonusItemGroup">
			    <xs:sequence>
                    <xs:element name="item" type="IdLevelReward" minOccurs="0" maxOccurs="unbounded"/>
			    </xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="FoodGroup">
        <xs:complexContent mixed="false">
		    <xs:extension base="BonusItemGroup">
			    <xs:sequence>
				    <xs:element name="item" type="IdLevelReward" minOccurs="0" maxOccurs="unbounded"/>
			    </xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OreGroup">
        <xs:complexContent mixed="false">
		    <xs:extension base="BonusItemGroup">
			    <xs:sequence>
                    <xs:element name="item" type="ItemRaceEntry" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GatherGroup">
        <xs:complexContent mixed="false">
		    <xs:extension base="BonusItemGroup">
			    <xs:sequence>
                    <xs:element name="item" type="ItemRaceEntry" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="EnchantGroup">
        <xs:complexContent mixed="false">
		    <xs:extension base="BonusItemGroup">
			    <xs:sequence>
                    <xs:element name="item" type="IdLevelReward" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BossGroup">
        <xs:complexContent mixed="false">
		    <xs:extension base="BonusItemGroup">
			    <xs:sequence>
				    <xs:element name="item" type="ItemRaceEntry" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="FeedFluidGroup">
        <xs:complexContent mixed="false">
		    <xs:extension base="FeedItemGroup"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="FeedArmorGroup">
        <xs:complexContent mixed="false">
		    <xs:extension base="FeedItemGroup"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="FeedThornGroup">
        <xs:complexContent mixed="false">
		    <xs:extension base="FeedItemGroup"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="FeedBalaurGroup">
        <xs:complexContent mixed="false">
		    <xs:extension base="FeedItemGroup"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="FeedBoneGroup">
        <xs:complexContent mixed="false">
		    <xs:extension base="FeedItemGroup"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="FeedSoulGroup">
        <xs:complexContent mixed="false">
		    <xs:extension base="FeedItemGroup"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="FeedExcludeGroup">
        <xs:complexContent mixed="false">
		    <xs:extension base="FeedItemGroup"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="StinkingJunkGroup">
        <xs:complexContent mixed="false">
		    <xs:extension base="FeedItemGroup"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="HealthyFoodAllGroup">
        <xs:complexContent mixed="false">
		    <xs:extension base="FeedItemGroup"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="HealthyFoodSpicyGroup">
        <xs:complexContent mixed="false">
		    <xs:extension base="FeedItemGroup"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AetherPowderBiscuitGroup">
        <xs:complexContent mixed="false">
		    <xs:extension base="FeedItemGroup"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AetherCrystalBiscuitGroup">
        <xs:complexContent mixed="false">
		    <xs:extension base="FeedItemGroup"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AetherGemBiscuitGroup">
        <xs:complexContent mixed="false">
		    <xs:extension base="FeedItemGroup"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PoppySnackGroup">
        <xs:complexContent mixed="false">
		    <xs:extension base="FeedItemGroup"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PoppySnackTastyGroup">
        <xs:complexContent mixed="false">
		    <xs:extension base="FeedItemGroup"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PoppySnackNutritiousGroup">
        <xs:complexContent mixed="false">
		    <xs:extension base="FeedItemGroup"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="InfernalDiabolApGroup">
        <xs:complexContent mixed="false">
		    <xs:extension base="FeedItemGroup"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="InnocentMerekXpGroup">
        <xs:complexContent mixed="false">
		    <xs:extension base="FeedItemGroup"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ShugoCoinGroup">
        <xs:complexContent mixed="false">
		    <xs:extension base="FeedItemGroup"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="NewYearPetFoodGroup">
        <xs:complexContent mixed="false">
		    <xs:extension base="FeedItemGroup"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="HighCraftStepGroup">
        <xs:complexContent mixed="false">
		    <xs:extension base="FeedItemGroup"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ItemRaceEntry">
	    <xs:attribute name="id" type="xs:int" use="required"/>
        <xs:attribute name="race" type="ItemRace" use="optional"/>
	</xs:complexType>
	<xs:complexType name="IdLevelReward">
        <xs:complexContent mixed="false">
		    <xs:extension base="ItemRaceEntry">
			    <xs:attribute name="level" type="xs:int" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MedalReward">
        <xs:complexContent mixed="false">
		    <xs:extension base="IdLevelReward">
			    <xs:attribute name="count" type="xs:int" use="required"/>
				<xs:attribute name="chance" type="xs:float" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="BonusType">
	    <xs:restriction base="xs:string">
            <xs:enumeration value="NONE"/>
            <xs:enumeration value="BOSS"/>
            <xs:enumeration value="COIN"/>
            <xs:enumeration value="ENCHANT"/>
            <xs:enumeration value="FOOD"/>
            <xs:enumeration value="FORTRESS"/>
            <xs:enumeration value="GATHER"/>
            <xs:enumeration value="GOODS"/>
            <xs:enumeration value="ISLAND"/>
            <xs:enumeration value="LUNAR"/>
            <xs:enumeration value="MAGICAL"/>
            <xs:enumeration value="MANASTONE"/>
            <xs:enumeration value="MASTER_RECIPE"/>
            <xs:enumeration value="MATERIAL"/>
            <xs:enumeration value="MEDAL"/>
            <xs:enumeration value="MEDICINE"/>
            <xs:enumeration value="MOVIE"/>
            <xs:enumeration value="RECIPE"/>
            <xs:enumeration value="REDEEM"/>
            <xs:enumeration value="RIFT"/>
            <xs:enumeration value="TASK"/>
            <xs:enumeration value="WINTER"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ItemRace">
	    <xs:restriction base="xs:string">
            <xs:enumeration value="PC_ALL"/>
            <xs:enumeration value="ELYOS"/>
            <xs:enumeration value="ASMODIANS"/>
        </xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ItemGroupIndex">
	    <xs:restriction base="xs:string">
            <xs:enumeration value="NONE"/>
            <xs:enumeration value="JUNK"/>
        </xs:restriction>
	</xs:simpleType>
</xs:schema>